body > header {
  padding-bottom: 0.75rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

table {
  margin-bottom: 2.5rem;
}

td {
  text-align: center;
  vertical-align: middle;
}

td span {
  font-family: monospace;
}

form div {
  display: inline-block;
  margin-right: 15px;
}

form button {
  display: inline-block;
}

form button[aria-disabled="true"] {
  cursor: not-allowed;
  background-color: var(--disabled);
  border-color: var(--disabled);
  color: var(--text-light);
}

.toast {
  visibility: hidden;
  min-width: 250px;
  text-align: center;
  position: fixed;
  z-index: 5;
  bottom: 30px;
  display: inline-flex;
}
.toast span:last-child {
  margin-left: 12px;
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.8s;
  animation: fadein 0.5s, fadeout 0.5s 2.8s;
}

.toast.hide {
  visibility: visible;
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes hideToast {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.zoom {
  zoom: 125%;
}

@media only screen and (max-width: 480px) {
  body > header {
    padding-bottom: 0.5rem;
  }

  table {
    width: 100%;
  }

  td span {
    clear: both;
    display: inline-block;
    width: 100%;
  }

  form {
    width: 100%;
  }

  form div {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  form button {
    display: block;
    width: 100%;
    margin-top: 2.2rem;
    margin-bottom: 0.5rem;
  }
}
